<!doctype html>
<html>
<head>
<link type="text/css" href="/css/t.css" rel="stylesheet"></link>

<script data-main="/js/main.js" src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js"></script>

<script id="questions" type="text/json">
<%- json %>
</script>

</head>
<body>
<div id="message">Let the learning begin.</div>
<div id="content">
</div>
</body>
</html>
