<!doctype html>
<html>
<head>
<link type="text/css" href="/css/t.css" rel="stylesheet"></link>
<script src="/js/lib/require.min.js"></script>
<script>
require(['../js/common.js'], function(common) {
  require(['sheetsMain'])
})
</script>

<script id="payload" type="text/json">
<%- json %>
</script>

</head>
<body>

<div id="content">
</div>
</body>
</html>
