<!doctype html>
<html>
<head>
<link type="text/css" href="/css/t.css" rel="stylesheet"></link>
<link type="text/css" href="/css/jasmine.css" rel="stylesheet"></link>

<script src="/js/lib/require.min.js"></script>
<script>
require(['../js/common.js'], function(common) {
  require(['testSuite])
})
</script>

<script id="questions" type="text/json">
<%- json %>
</script>

</head>
<body>
<div id="sandbox" style="overflow: hidden; height: 1px;"></div>
</body></html>

