<!doctype html>
<html>
<head>
<link type="text/css" href="/css/t.css" rel="stylesheet"></link>

<script id="questions" type="text/json">
[
  {"show": "q", "color": "color1", "question": "qhello???", "answer": "answer..."},
  {"show": "q", "color": "color2", "question": "qeeeery???", "answer": "eeeeeeeeeeeanswer..."}
]
</script>

<script data-main="js/main.js" src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js"></script>

<script type="text/template" id="card-template">
  <div class="question <%= color %>">
    <button class="delete" title="delete forever">X</button>
    <%- question %>
  </div>
  <div class="answer <%= show == 'q' ? 'show' : 'hide'%>">
    <%- answer %>
  </div>
</script>

</head>
<body>
<div id="message">Let the learning begin.</div>
<div id="content">
</div>
</body>
</html>
