  <div class="question <%= color %>">
    <button class="delete" title="delete forever">X</button>
    <%- question %>
  </div>
  <div class="answer <%= show == 'q' ? 'show' : 'hide'%>">
    <%- answer %>
  </div>
