  <div class="visibleFace <%= ccolor %>">
    <button class="decrement">-</button>
    <button class="increment">+</button>
    <span class="textContent"><%- cshow == 'q' ? cquestion : canswer %></span>
  </div>
