  <div class="question <%= color %>">
    <button class="decrement">-</button>
    <button class="increment">+</button>
    <%- question %>
  </div>
  <div class="answer <%= show == 'q' ? 'show' : 'hide'%>">
    <%- answer %>
  </div>
