  <div class="question <%= ccolor %>">
    <button class="decrement">-</button>
    <button class="increment">+</button>
    <%- cquestion %>
  </div>
  <div class="answer <%= cshow == 'q' ? 'show' : 'hide'%>">
    <%- canswer %>
  </div>
