<button class="decrement">&lt;&lt;</button>
<span class="currentLevel">Showing Cards of Difficulty: <span class="difficultyLevel"><%= difficulty %></span></span> 
<button class="increment">&gt;&gt;</button>

