
/*

.color0 { background-color: black; }
.color1 { background-color: red; }
.color2 { background-color: green; }
.color3 { background-color: blue; }
.color4 { background-color: brown; }
.color5 { background-color: purple; }

*/

/*
.color0 { background-color: ; }
.color1 { background-color: ; }
.color2 { background-color: ; }
.color3 { background-color: ; }
.color4 { background-color: ; }
.color5 { background-color: ; }
*/

.color0 { background-color: #e31b23; }
.color1 { background-color: #215352; }
.color2 { background-color: #98002e; }
.color3 { background-color: #0db33f; }
.color4 { background-color: #9c5708; }
.color5 { background-color: #00467f; }

body { opacity: 0; font-family: Arial; padding: 30px; height: 2000px; }

.answer, .question { float: left; }

.answer{ display: none; font-weight: bold; }

.question { 
    position: relative; 
    cursor: pointer; 
    color: white; 
    border: 1px solid black; 
    padding: 15px; 
    font-size: 18px; 
}

.hidden { display: none; }

.selected { background-color: black; }

a { text-decoration: none; }

#message { font-size: 22px; position: fixed; 
           left: 0px; top: 0px; background-color: black; 
           color: white; padding: 20px; width: 97%;
           margin: 0 10px 0 0; z-index: 100;
           max-height: 40px; overflow: auto;
}

#content { margin-top: 55px; padding-left: 20px; }

.selected .delete { visibility: visible; }

.delete {
    visibility: hidden;
    background-color: black;
    color: red;
    position: absolute;
    top: 0px;
    border: none;
    font-size: 8px;
    cursor: pointer;
    right: 0px;
}

.delete:hover {
    background-color: red;
    color: black;
}